<h1>Register</h1>

<p>Employee Id: <input type="text" [(ngModel)]=employee.empId/></p>
<p>Employee Name: <input type="text" [(ngModel)]=employee.empName/></p>
<p>Gender: <input type="text" [(ngModel)]=employee.gender/></p>
<p>Salary: <input type="text" [(ngModel)]=employee.salary/></p>
<p>DOJ: <input type="date" [(ngModel)]=employee.doj/></p>
<p>Login Id: <input type="text" [(ngModel)]=employee.loginId/></p>
<p>Password: <input type="password" [(ngModel)]=employee.password/></p>
<button (click)="register()">Submit</button>
